* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 100vh;
    background: whitesmoke;
}


body::after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 500px;
    height: 500px;
    background: #2196F3;
    border-radius: 50%;
    z-index: -1;
}

body::before {
    content: '';
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
    width: 500px;
    height: 500px;
    background: #2196F3;
    border-radius: 50%;
    z-index: -1;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header>h1 {
    margin-left: 20px;
    position: relative;
    color: #2c3e50;
    font-weight: bold;
    font-weight: 900;
    font-size: 40px;
}


header>h1>span {
    position: relative;
    color: #fff;
}

header>h1::after {
    position: absolute;
    top: 50%;
    left: -10px;
    width: 50px;
    height: 50px;
    content: '';
    background: #3e64ff;
    z-index: -1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}


header i {
    margin-right: 10px;
}

header h3 {
    text-decoration: underline;
}

header h4 {
    margin-right: 10px;
    display: inline;
    font-size: 15px;
    text-decoration: none;
}

header h4 i {
    margin-right: 2px;
}

header h3,
.dropdown,
a {
    display: inline;
}

header a {
    color: #2c3e50;
    text-decoration: none;
}

header a:hover {
    color: #3e64ff;
}



header .right {
    padding: 10px 5px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


header .logout {
    margin-left: 10px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.dropbtn {
    background: transparent;
    color: black;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 1);
}

.dropdown:hover .dropdown-content {
    display: block;
}


.progressbar {
    width: 400px;
    height: 30px;
    background: #2196F3;
    position: relative;
    overflow: hidden;
    margin: 0 auto;



    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.progressbar .inner {
    height: 100%;
    animation: progressbar-countdown;
    /* Placeholder, this will be updated using javascript */
    animation-duration: 40s;
    /* We stop in the end */
    animation-iteration-count: 1;
    /* Stay on pause when the animation is finished finished */
    animation-fill-mode: forwards;
    /* We start paused, we start the animation using javascript */
    animation-play-state: paused;
    /* We want a linear animation, ease-out is standard */
    animation-timing-function: linear;
}

@keyframes progressbar-countdown {
    0% {
        width: 0%;
        background: #F00;
    }

    100% {
        width: 100%;
        background: #0F0;
    }
}