* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 100vh;
    background: whitesmoke;
}


body::after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 500px;
    height: 500px;
    background: #2196F3;
    border-radius: 50%;
    z-index: -1;
}

body::before {
    content: '';
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
    width: 500px;
    height: 500px;
    background: #2196F3;
    border-radius: 50%;
    z-index: -1;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header>h1 {
    margin-left: 20px;
    position: relative;
    color: #2c3e50;
    font-weight: bold;
    font-weight: 900;
    font-size: 40px;
}


header>h1>span {
    position: relative;
    color: #fff;
}

header>h1::after {
    position: absolute;
    top: 50%;
    left: -10px;
    width: 50px;
    height: 50px;
    content: '';
    background: #3e64ff;
    z-index: -1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}


header i {
    margin-right: 10px;
}
header h3{
    text-decoration: underline;
}
header h4{
    margin-right: 10px;
    display: inline;
    font-size: 15px;
    text-decoration: none;
}

header h3,
.dropdown,
a {
    display: inline;
}

header a {
    color: #2c3e50;
    text-decoration: none;
}

header a:hover {
    color: #3e64ff;
}



header .right {
    padding: 10px 5px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


header .logout {
    margin-left: 10px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.dropbtn {
    background: transparent;
    color: black;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.about {
    text-align: center;
}

.about h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about .note {
    display: inline-block;
    color: white;
    font-weight: 500;
    background: rgba(146, 32, 32, 0.5);
    padding: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.about p {
    margin: 0;
}

section {
    width: 100%;
    height: 100vh;
    margin-top: 50px;
}


.block {
    margin: 10px auto;
    width: calc(100% - 100px);
    padding: 20px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.block>h1 {
    position: absolute;
    top: 10px;
    height: 50px;
    left: -15px;
    border-radius: 30px;
    background: #130f40;
    border-bottom-left-radius: 0;
    font-size: 25px;
    padding: 10px;
    padding-left: 0;

    font-weight: bold;
    color: white;
}

.block>h1::before {
    content: '';
    position: absolute;
    top: 50px;
    width: 15px;
    height: 30px;
    background: #30336b;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 2;
}

.block>h1::after {
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    width: 15px;
    height: 15px;
    background: #130f40;
    z-index: 1;
}


.block .box {
    text-align: center;
    min-width: 250px;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    background: white;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.block .box p {
    font-weight: 700;
    margin: 0;
}

.block .box button {
    font-weight: 500;
    width: 100%;
    color: black;
    padding: 5px 15px;
    margin: 8px 0;
    cursor: pointer;
    background: rgba(22, 160, 133, 0.25);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: 1s all;
}


.block .box button:hover {
    background: rgba(180, 170, 170, 0.25);
    /* font-size: 18px; */
    box-shadow: none;
    font-weight: 900;
    letter-spacing: 1px;
    /* padding: 5px 15px; */
}