<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADIST || SIGNUP</title>
</head>

<body>
    <h1>SignUP</h1>
    <form action="/signup" method="post">
        <input type="text" name="username" placeholder="username" required>
        <input type="email" name="email" placeholder="email" required>
        <input type="password" name="password" placeholder="password" required>
        <button type="submit">SignUp</button>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </form>
    <p><a href="/signin">SignIn</a></p>
    <p><a href="/passwordchange">Change password</a></p>
</body>

</html>